- div_for @movie do
  .hero-unit
  .movie-info
    %h2.name= @movie.name
    %section.description= @movie.description
    %section.recommendable
      %span.rating
      %a.btn.vote +
      %a.btn.vote -
  .other-movies

